{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <h4>Welcome <b><i>{{ name| reversedCapital }}</i></b> to my about me in Latin!</h4>
Lorem ipsum dolor sit amet, consectetur adipisicing elit.
A adipisci assumenda commodi consectetur cumque eligendi esse facere ipsa,
iure maiores nulla quidem rerum saepe temporibus voluptatibus!
Accusamus id neque sequi?
Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquid animi asperiores autem consequuntur debitis dignissimos dolore est explicabo facere harum iusto magnam minus nihil officiis,
quaerat quis reprehenderit sed vero.
{% endblock %}

